<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <section class="section">
        <h1 class="title">Welcome to Kuniel Blog</h1>
        <p class="subtitle">Explore our latest posts</p>

        <div class="columns is-multiline">
            <div class="column is-12" th:each="post : ${posts}">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <h2 class="title is-4">
                                <a th:href="@{/posts/{slug}(slug=${post.slug})}" th:text="${post.title}">Post Title</a>
                            </h2>
                            <p class="subtitle is-6">
                                By <span th:text="${post.createdBy.name}">Author</span> on
                                <time th:datetime="${post.createdAt}" th:text="${#temporals.format(post.createdAt, 'MMM dd, yyyy')}">Date</time>
                            </p>
                            <p th:text="${#strings.abbreviate(post.content, 200)}">Post excerpt...</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a th:href="@{/posts/{slug}(slug=${post.slug})}" class="card-footer-item">Read More</a>
                    </footer>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>